<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1><%= t("sessions.actions.sign_in") %></h1>

<%= form_with(url: sign_in_path) do |f| %>
  <%= f.input :email_field, :email, label: t("sessions.fields.email"), required: true, autofocus: true, autocomplete: "email"  %>
  <%= f.input :password_field, :password, label: t("sessions.fields.password"), required: true, autocomplete: "current-password"  %>

  <%= f.submit t("sessions.actions.sign_in"), class: "btn btn-primary btn-sm mt-5" %>
<% end %>

<div class="mt-8">
  <%= link_to t("sessions.actions.sign_up"), sign_up_path %> |
  <%= link_to t("sessions.actions.forgot_password"), new_identity_password_reset_path %>
</div>
