<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="navbar px-10">
      <div class="flex-1 text-lg">
        <%= link_to "Quotify App", root_path %>
      </div>
      <div class="flex-none gap-2">
        <% if Current.user %>
          <div id="current_user_menu" class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar placeholder">
              <div class="bg-neutral text-neutral-content w-10 rounded-full">
                <span class="text-3xl">
                  <%= Current.user.email.capitalize.first %>
                </span>
              </div>
            </div>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
              <li>
                <%= link_to "Change password", edit_password_path %>
              </li>
              <li>
                <%= link_to "Change email address", edit_identity_email_path %>
              </li>
              <li>
                <%= link_to "Log out", Current.session, data: {turbo_method: :delete} %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <main class="p-10 prose">
      <div id="flash">
        <%= render "layouts/flash" %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
